@page
@model AuthenticationProject.Pages.Admin.AboutAdminModel
@{
}
<h1>Hello world i am Olabode Wilson,I am software engineer (Android),
    I am currently learning to use asp.net core for web applications.
</h1>